.main-block {
    display: flex;
    height: calc(100vh - 57px);
}

.side-bar {
    flex: 3;
    margin-right: 16px;
    border-right: 1px solid #ddd;
    box-shadow: 1px 2px 8px 0px #ddd;
}

.nav-item {
    padding: 6px;
}

.main-content {
    flex: 7;
}